{% extends "partial/base.html" %}
	{% block main %}
		{% if tagname %}
		<h1 class="tagged">"{{tagname}}" とタグ付された投稿</h1>
		{% endif %}
		{% for article in articles %}
		<article class="row-fluid">
			<h1><a href="/{{article.id}}">{{ article.title}}</a></h1>
			<div class="row-fluid list">
				<!-- {#{{ article.text }}#} -->
				<pre>{{article.pre}}</pre>
			</div>
			<footer>
				<div class="nav">
					<div id="tagArea" class="pull-left">
						<small>created : {{ article.created_at }}</small>
						{% for tag in article.tags %}
							<a href="/tags/{{tag}}"><span class="label">{{tag}}</span></a>
						{% endfor %}
					</div>
					<div class="pull-right">
						<a href="/{{article.id}}/edit">[edit]</a>
						<a href="/del/{{article.id}}" data-method="post">[del]</a>
					</div>
				</div>
			</footer>
		</article>
		{% endfor %}
		{% if pagination.pages  > 1 %}
			<div class="pagination">

				<ul>
				{% if pagination.hasPrev %}
					<li><a href="{{pagePath}}{{pagination.page - 1}}">Prev</a></li>
				{% endif %}
				{% for page in pagination.iterPages() %}
					{% if page != pagination.page %}
						<li><a href="{{pagePath}}{{page}}">{{page}}</a></li>
					{% else %}
						<li class="active"><a href="#">{{page}}</a></li>
					{% endif %}
				{% endfor %}
				{% if pagination.hasNext %}
					<li><a href="{{pagePath}}{{pagination.page + 1}}">Next</a></li>
				{% endif %}
				</ul>
			</div>
		{% endif %}
	{% endblock %}
